/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.about-card-container{
    height: 550px;
    background-color: #011A3E;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
} */