
.brokers-table {
    margin: 0 auto;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 17px Arial, sans-serif;
}
.brokers-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.brokers-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.broker-details{
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}
.broker-details h1 { text-align: center}
