@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.navbar {
    display: flex;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 85px;
    box-shadow: 0 0 25px 0 black;
    background-color: #011a3eea;
    margin-bottom: 15px;
    padding: 0px;
  }

  .logo-realestate {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin-right: 400px;
  }

  .container {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

 .nav-elements {
    justify-content: space-between;
    align-content: center;
    
    
  } 


  .nav-elements ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 90px;
    
  }
  
  .nav-elements ul:first-child {
    
    margin-right: 50px;
   
  }

  .nav-elements ul {
    display: flex;
    align-content: center;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    position: static;    
    padding: 0px;
    margin: 0px;
    height: 85px;
  }

  
 .nav-elements ul a {
    font-size: 16px;
    font-weight: bolder;
    color: #daa520;
    text-decoration: none;
    white-space: nowrap;
    --s: 0.1em;   /* the thickness of the line */
    --c: #fcfcfc; /* the color */ 
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
 
  } 
  
  .nav-elements ul a:hover  {
    color: #fcfcfc;
    font-weight: bolder;
    --_p: 100%
  
  }
  