
.nav .navbar {
    height: 60px;
    width: 100%;
    background-color: #fef7e500;
    justify-content: center;
    position: static;
  }

.container {
    justify-content: center; 
   
}

  .logo-realestate {
    width: 62.5px;
    height: 46px;
    vertical-align: middle;
  }
  
  .arrow-white {
    height: 10px;
    left: 111px;
    position: absolute;
    top: 7px;
    width: 20px;
    }
  
  .nav-elements {
    width: 90px;
    height: 46px;
    margin-top: 25px;
    justify-content: space-between;
    
    
  }
  
  .nav-elements ul {
    display: flex;
    align-content: center;
    list-style-type: none;
    position: static;    

  }
  
  .nav-elements ul li:not(:last-child) {
    margin-right: 90px;
  }
  
  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
    white-space: nowrap;
 
  }
  
  .nav-elements ul a.active {
    color: #574c4c;
    font-weight: 625;
  
  }
  