.home-page {
    margin: auto;
}

.mainContent {
    max-width: 1440px;
    margin: auto;

    
}

.window-1 {
    align-content: center;
    height: 982px;
    width: 1440px;
  
}

.box {

}

.background{
    filter: brightness(72.5%);
}


.label {
    height: 240px;
    width: 625px;
    position: relative;
    bottom: 850px;
    left: 100px;
    
}

.label .label-welcome {
    color: #fcfcfc;
    font-family: "DMSans-Bold", Helvetica;
    font-size: 100px;
    font-weight: 700;
    left: 0;
    letter-spacing: -2.01px;
    line-height: 95px;
    position: absolute;
    top: 0;
    
}

.label-subtext {

    color: #fcfcfc;
    font-family: "DMSans-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.5px;
    line-height: 28px;
    opacity: 0.7;
    position: relative;
    top: 300px;
    width: 428px;
}

.searchbar-container {
    display: flex;
    position: relative;
    bottom: 500px;

}

.recentlyViewedListings {
    position: relative;
    bottom: 225px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recentlyViewedText {
    color: #4d4d4d;
    font-family: "DMSans-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    padding: 15px; 
    justify-content: center;
    letter-spacing: -0.5px;
    line-height: 70px;
    opacity: 0.8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recent-listings{
    position: relative;
    align-content: center;
    padding-bottom: 50px;
    bottom: 205px;
    display: flex;

}


.swiper {
    width: 50%;
    height: 50%;
  
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    background: #ffffff00;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

 }
     
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 }

.recentproperty-card {
    object-fit: cover;

}
