  .app {
  
  }
  
  .app-header h1 {
    text-align: center;
  }
  
  .app-header form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app-header form div {
    margin: 10px;
    display: inline-block;
    align-self: center;
    color:#000000;
  }
  
  .app-header form input {
    margin: 0 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 200px;
    background: transparent;
    color: #000000;
  }

  .app-header form input[type="checkbox"]{
    width: 10px;
  }
  
  .app-header form input:focus {
    outline: none;
    border-bottom: 2px solid #ffac12;
  }
  
  .app-header form button {
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 200px;
    cursor: pointer;
    background-color: #e8ebda;
    color: #000000;
  }